<div class="admin-container">
  <h1>Product Management</h1>

  <div class="controls">
    <input type="text" placeholder="Search products..." [(ngModel)]="searchQuery" (input)="fetchProducts()" />
    <select [(ngModel)]="selectedCategory" (change)="fetchProducts()">
      <option *ngFor="let cat of categories">{{ cat }}</option>
    </select>
  </div>

  <div class="product-form">
  <h2>Add New Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
    <input type="text" formControlName="title" placeholder="Product title" />
    <input type="number" formControlName="price" placeholder="Price" />
    <input type="text" formControlName="store" placeholder="Description" />
    <select formControlName="category">
      <option *ngFor="let cat of categories.slice(1)">{{ cat }}</option>
    </select>

    <label>Thumbnail:</label>
    <input type="file" (change)="onThumbnailSelected($event)" />

    <label>Subimages (you can select multiple):</label>
    <input type="file" multiple (change)="onSubimagesSelected($event)" />

    <button type="submit">Add Product</button>
  </form>
</div>


  <div *ngIf="loading" class="loading">Loading products...</div>

  <div class="products-table-container">
  <h2>Products List</h2>

  <table class="products-table" *ngIf="products.length > 0; else noProducts">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Price (frs)</th>
        <th>Description</th>
        <th>Category</th>
        <th>Sold</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <img [src]="'http://localhost:5000'  + product.thumbnail" alt="{{ product.title }}" class="product-thumb"/>
        </td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | number:'1.2-2' }}</td>
        <td>{{ product.store }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.sold }}</td>
        <td>
          <button class="delete-btn" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>

</div>
